<div class="container">
   <div class="cards">
         <% @pools.each do |pool| %>
         <div>
          <strong class="card-text"><%= pool.location %></strong>
          <% if pool.photo.attached? %>
            <%= cl_image_tag pool.photo.key, height: 300, width: 400, crop: :fill%>
<!--             Add an else if no picture -->
          <% end  %>
            <p class="card-text"><%= pool.description %></p>
         </div>
         <% end %>
      <div class="row">
      </div>
   </div>
</div>
