<div class="cards">
   <div class="container">
      <div class="row">
         <% @pools.each do |pool| %>
         <div class="card">
            <%= image_tag("https://res.cloudinary.com/dkgzrlgdu/image/upload/v1621076672/adheesha-paranagama-kOYh8C_xLUQ-unsplash_wblbav.jpg")%>
            <strong class="card-text"><%= pool.location %></strong>
            <%= image_tag("https://res.cloudinary.com/dkgzrlgdu/image/upload/v1621076672/adheesha-paranagama-kOYh8C_xLUQ-unsplash_wblbav.jpg")%>
            <p class="card-text"><%= pool.description %></p>
         </div>
         <% end %>
      </div>
      <div class="row">
      </div>
   </div>
</div>
