<div class="container">
   <div class="cards">
         <% @pools.each do |pool| %>
         <div>
          <strong class="card-text"><%= pool.location %></strong>
          <% if pool.photo.attached? %>
            <%= link_to cl_image_tag(pool.photo.key), pool_path(pool.id) %>
       <!--  -->
<!--             Add an else if no picture -->
          <% end  %>
            <p class="card-text"><%= pool.description %></p>
         </div>
         <% end %>
      <div class="row">
      </div>
   </div>
</div>

