<div class="pools-index">
  <div class="container">
     <div class="cards">
      <% @pools.each do |pool| %>
        <div class="fi-card">
          <div class="fi-image">
          <strong class="card-text fi-text-js text-center"><%= pool.location %></strong>
            <% if pool.photo.attached? %>
              <%= link_to cl_image_tag(pool.photo.key), pool_path(pool.id) %>
            <% else %>
            <img src="https://res.cloudinary.com/dkgzrlgdu/image/upload/v1621195184/hme6aurdauxn0v9dp76jzeo1cy0n.jpg" class="fi-card fi-image card-text fi-text-js text-center" alt="">
            <% end  %>
          </div>
          <div class="fi-text">
            <h2 class="fi-text-js text-center"><%= pool.location %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


