
<div class="container-listing">
  <div class="row listing-content">
    <!-- Details box -->
    <div class="listing col-md-8">
      <div class="listing-title">

        <h3>Location: <%= @pool.location %>
      </div><br>

      <div class="listing-details">
        <div class="row-content">
          <div class="col-xs-3">
            <p><strong>Highlights</strong></p>
          </div>

          <div class="col-xs-3">
              <%= @pool.description %>
              <br>
              <br>
              <p> Hosted by: <%= @pool.user.name %> </p>
          </div>
          <hr></hr>
          <div class="col-xs-3">
              <p> This pool is available on this day/time: </p>
              <%= render 'bookings/form', pool: @pool, booking: @booking %>
          </div>
        </div>
        <br><br>
      </div>
  </div>
</div>
</div>
