<div class="container-listing">
  <div class="row listing-content">
    <!-- Details box -->
    <div class="listing col-md-8">
      <div class="listing-title">
        <p><%= @pool.location %></p>
      </div><br>

      <div class="listing-details">
        <div class="row-content">
          <div class="col-xs-3">
            <p><strong>Highlights</strong></p>
          </div>

          <div class="col-xs-9">
              <%= @pool.description %>
          </div>
          <%= render 'bookings/form', pool: @pool, booking: @booking %>

          
        </div>
        <br><br>
      </div>
  </div>
</div>
</div>
