body {
background-color: white;

}

.container-new {
    background-image: linear-gradient(to right, #87ceeb, #87CEFA );
    text-align: center;
    color: black;
    font-weight: bold;
    
}

.container-rental {
    color: ivory;
    text-align: left;
    
}




