<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h2 class="card-title"> My pool </h2>
    <% if @pools_user_own.any? %>
     <% @pools_user_own.each do |pool| %>
          <ul class="list-group list-group-flush"style="list-style: none;">
            <!-- <li class="fi-card"> -->
                <% if pool.photo.attached? %>
                  <img class="card-img-top"> <%= link_to cl_image_tag(pool.photo.key), pool_path(pool.id) %>
                  <% else %>
                    <img class="card-img-top" src="https://res.cloudinary.com/dkgzrlgdu/image/upload/v1621195184/hme6aurdauxn0v9dp76jzeo1cy0n.jpg" class="fi-card fi-image card-text fi-text-js text-center" alt="">
                <% end  %>
              </li>
            <li class="list-group-item"> Name: <%= pool.title %> </li>
            <div class="row justify-content-around mt-2">
              <li><%= link_to "View pool details", pool_path(pool.id), class: "btn btn-outline-secondary btn-sm mb-1" %></li>
            </div>
          </ul>
        <% end %>
    <% else %>
      <p>You haven't added any pools yet!</p>
    <% end %>
  </div>
</div>


