<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h2 class="card-title"> Pools you are visiting </h2>
      <% if @bookings_user_made.any? %>
      <% @bookings_user_made.each do |booking| %>
            <ul class="list-group list-group-flush" list-style: none;>
              <li class="list-group-item"> Booking total: $<%=booking.pool.price %></li>
              <li class="list-group-item"> Booking date: <%=booking.date %></li>
              <li class="list-group-item"> Booking host: <%=booking.pool.user.name %></li>
              <li class="list-group-item"> Booking description: <%=booking.pool.title %></li>
            </ul>
    </div>
        <% end %>
        <% else %>
          <p>You have no active or pending reservations currently</p>
        <% end %>
</div>
