<div class="container" >
  <div class="row">
     <div class="col-sm">
      <%= render "bookings" %>
    </div>
    <div class="col-sm">
      <%= render "pools" %>
    </div>
    <div class="col-sm">
    <%= render "reservations" %>
  </div>
</div>

