<div class="cards-dashboard" >
   <div class="card-dashboard" >
      <%= render "bookings" %>
    </div>
    <div class="card-dashboard" >
      <%= render "pools" %>
    </div>
    <div class="card-dashboard" >
    <%= render "reservations" %>
</div>

