<div class="footer">
  <div class="d-flex flex-row">
    <div class="p-2"> <a href="#"><i class="fab fa-instagram"></i></a> </div>
    <div class="p-2"> <a href="#"><i class="fab fa-facebook"></i></a> </div>
    <div class="p-2"> <a href="#"><i class="fab fa-twitter"></i></a> </div>
  </div>

    <div class="d-flex flex-row-reverse footer-links ">
      <div class="p-2"><a class="footer-link" href="#">About us</a></div>
      <div class="p-2"><a class="footer-link" href="#">Terms</a></div>
      <div class="p-2"><a class="footer-link" href="#">Privacy</a></div>
    </div>
</div>

  <div class="footer">
    <% if current_user %>
      <p><%= "Welcome #{current_user.name}, dive in now!" %></p>
    <% else %>
      Welcome!
    <% end %>
  </div>



