
.fi-text-js {
  opacity: 0;
}

.opacity {
  opacity: 1;
}

.fi-text-js {
  margin-top: -190px;
  z-index: 3;
  position: relative;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7903536414565826) 87%);
  color: white;
  width: 400px;
  padding-bottom: 60px;
  padding-top: 92px;
}

.fi-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 300px;
  padding-top: 30px;
}

::placeholder{
  color:white;
}

.container-pool {
  display: flex;
  margin-top: 90px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .fi-card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .fi-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .fi-card {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .fi-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .fi-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
