.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.collapse .navbar-collapse {
  margin-right: 49px;
}

#search_query{
  height: 100%;
}

